/* desktop */
@font-face {
    font-family: 'fsalbertregular';
    src: url('../font/fsalbreg-webfont.eot');
    src: url('../font/fsalbreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/fsalbreg-webfont.woff2') format('woff2'),
         url('../font/fsalbreg-webfont.woff') format('woff'),
         url('../font/fsalbreg-webfont.ttf') format('truetype'),
         url('../font/fsalbreg-webfont.svg#fsalbertregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
  font-family: 'fsalbertregular', arial;
  font-size: x-small;
  font-variant: normal;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  color: #333333;
  text-align: center;
  background: #efefeb;
  	-webkit-box-sizing: border-box; /* Safari/Chrome, y otros WebKit */
	-moz-box-sizing: border-box;    /* Firefox, y otros Gecko */
	box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #91282c;
}

form {
  font-size: x-small;
}

:focus, :active { outline: 0; }

header {
	background: #91282c;
	height: 40px;
}

h1 {
	padding-top: 4px;
}

.container {
margin-top: 15%;
}

.center {
	max-width: 500px;
	margin: auto;
	background: #fff;
	-webkit-box-sizing: border-box; /* Safari/Chrome, y otros WebKit */
	-moz-box-sizing: border-box;    /* Firefox, y otros Gecko */
	box-sizing: border-box;
	box-shadow: 0px 0px 4px rgba(0,0,0, 0.1) ;
	border: solid 1px #ccc;
}

.centerFooter {
	margin: auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, y otros WebKit */
	-moz-box-sizing: border-box;    /* Firefox, y otros Gecko */
	box-sizing: border-box;
}

form {
	width: 500px;
	background: #91282c;
	margin: auto;
	text-align: center;

}

#selectorElement {
	cursor: pointer;
	width: 500px;
	text-align: center;
}

.pf_wrap_class {
	background: #91282c;
	text-align: left;
	color: #fff;
	font-size: 18px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	width: 100%!important;
	text-align: center!important;

}

.ir {
	list-style: none;
	text-align: left;
}
.ir img {
	margin-right: 10px;
	padding-top: 5px;
}

.ir > a {
	position: relative;
	top: -12px;
	text-decoration: none;
}

.ir li:nth-child(even){
	background: #efefef;
}

.ir li{
	border-bottom: solid 1px #ccc;
	padding: 5px;
}

.ir li a{
	display: block;
	text-decoration: none;
}

.ir li span{
	position: relative;
	top: -55px;
	font-size: 14px;
}

.ir li:last-child{
	border-bottom: solid 0px #ccc;
	margin-bottom: 0px;
	padding-bottom: 5px;
}

.spinner img {
	width: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.hidden {
	display: none;
}

footer {
	position: absolute;
	bottom: 5px;
	width: 600px;
	margin-left: 50%;
	left: -300px;
}

/* mobile*/
@media screen and (max-width: 500px) {
	.container {
		padding: 10px;
	}
	#selectorElement {
	cursor: pointer;
	width: 100%;
	text-align: center;
	}
	form {
		width: 100%;
		background: #91282c;
		margin: auto;
		text-align: center;

	}
	footer {
	position: absolute;
	bottom: 5px;
	width: 100%;
	margin-left: 50%;
	left: -50%;
	}
}
